* {
    box-sizing: border-box;
}

@font-face {
    font-family: silkscreen;
    src: url("../assets/fonts/silkscreen/Silkscreen-Regular.ttf");
}
@font-face {
    font-family: silkscreen;
    src: url("../assets/fonts/silkscreen/Silkscreen-Bold.ttf");
    font-weight: bold;
}

:root {
    --highlight-fg: #f66;
    --highlight-bg: #400;
    --background-color: #000;
    --background-color-darker: #080808;
    --background-color-lighter: #111;
    --background-color-highlight: #222;
    --background-color-contrast: #fff;
}
@media (prefers-color-scheme: light) {
    :root {
        --highlight-fg: rgb(184, 0, 0);
        --highlight-bg: rgb(255, 111, 111);
        --background-color: #fff;
        --background-color-darker: #ddd;
        --background-color-lighter: #eee;
        --background-color-highlight: #ccc;
        --background-color-contrast: #000;
    }
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background-color);
    color: var(--background-color-contrast);
}

.content-width {
    width: 100%;
    max-width: 1100px;
}

// Bubble styling
.bubble {
    background-color: var(--background-color-lighter);
    border-radius: 25px;
    padding: 9px 10px 10px 9px;
    color: var(--background-color-contrast);
    border-top: 1px solid var(--background-color-highlight);
    border-left: 1px solid var(--background-color-highlight);
}
@media (prefers-color-scheme: light) {
    .bubble {
        padding: 10px 9px 9px 10px;
        border-top: none;
        border-left: none;
        border-right: 1px solid var(--background-color-highlight);
        border-bottom: 1px solid var(--background-color-highlight);
    }
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    position: relative;
    width: 100%;
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        height: 1px;
        width: 100%;
        background-color: var(--background-color-contrast);
        opacity: 0.1;
    }
}

ul, ol {
    padding-left: 2ch;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a:not(.custom-link) {
    display: inline-block;
    position: relative;
    z-index: 0;
    color: var(--highlight-fg);
    text-decoration: underline;
    transition-duration: .1s;
    &::before {
        --outset: 0;
        position: absolute;
        z-index: -1;
        content: "";
        display: block;
        top: var(--outset);
        bottom: var(--outset);
        right: var(--outset);
        left: var(--outset);
        background-color: var(--highlight-fg);
        opacity: 0;
        border-radius: 0;
        transition-duration: .1s;
    }

    &:hover, &:focus-visible {
        color: var(--background-color);
        &::before {
            opacity: 0.7;
            --outset: -3px;
            border-radius: 7.5px;
        }
    }
}