.nav {
    display: flex;
    position: flex;
    top: 0;
    gap: 30px;
    padding: 30px;
    flex-wrap: wrap;
    align-items: center;
    img {
        margin: -5px;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        transition-duration: 0.2s;
        display: block;
    }
    a:hover img {
        border-radius: 12.5px;
    }
}

@media (prefers-color-scheme: light) {
    .nav img {
        filter: invert(100%);
    }
}

.main {
    padding-inline: 30px;
}

.footer {
    padding: 30px;
    gap: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .foot {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .contact {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        .links {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            a {
                display: flex;
                gap: 10px;
                align-items: center;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

@media (prefers-color-scheme: light) {
    .footer .contact .links a img {
        filter: invert(100%);
    }
}