.background {
  grid-column: 1/2;
  grid-row: 1/2;
  position: fixed;
  --inset: 100px;
  inset: calc(-1 * var(--inset));
  width: calc(100% + 2 * var(--inset));
  height: calc(100% + 2 * var(--inset));
  pointer-events: none;
  background-color: var(--nebula-dark);
  z-index: -2;
  display: block;

  @media (prefers-color-scheme: dark) {
    opacity: .5
  }
}